<div id="myDiv">

    <button type="button" class="btn btn-primary">Add People</button>
    
    <form>
        <div class="mb-3">
            <input type="email" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="serch name here">
            
        </div>    
    </form>
</div>

<!-- now -->


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Employee Information</h1>
          <button type="button" class="btn-close" ></button>
        </div>
        <div class="modal-body">
          <!-- our form starts here -->

            <form>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="First Name">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="last Name">
                    </div>
                </div>

                <div class="row">
                  <div class="col">
                    <label for="datepicker">Birth Date:</label>
                    <input type="date" name="" class="form-control" id="">
                    
                  </div>
                  <div class="col ">
                    <label for="Gender" class="fw-bold">Gender :</label>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                      <label class="form-check-label" for="flexRadioDefault1">
                        Male
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                      <label class="form-check-label" for="flexRadioDefault2">
                        Female
                      </label>
                    </div>

                  </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Insert</button>
        </div>
      </div>
    </div>
  </div>